# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/

# Flask
instance/
.webassets-cache

# Environnement de développement
.env
.venv
.flaskenv

# Base de données SQLite
*.db
*.sqlite

# Logs
logs/
*.log

# Dossiers spécifiques à l'application
app/static/uploads/*
!app/static/uploads/.gitkeep

# Fichiers Docker
.dockerignore

# Dossiers spécifiques aux IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Système d'exploitation
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db